* {
	box-sizing: border-box;
}
/* parte toda do site com a cor branca */
body {
	background-color: #f5f7fa;
	font-family: 'Roboto', sans-serif;
	margin: 0;  
}
/* parte toda do site */
.pai {
	display: flex;
}

/* menu esquerdo com a parte branca, matches, mensagens, pergunta do PAME e resposta etc. */
.esquerdo {
	min-width: 360px;
	height: 952px;
	background-color: #fff;
	min-height: 100%;
	border-right: 1px solid #e1e1e1;
}

/* menu direito com a parte cinza claro, com a minha foto,  minhas informacoes e icones inferiores */
.direito {
	width: 100%;
	display: flex;
	padding: 20px 0;
	align-items: center;
	flex-direction: column;
}

/*parte esquerda e a parte com gradiente de cores rosa e laranja */
.esquerdo .header {
	background: linear-gradient(262deg, #ff7854, #fd267d);
	width: 100%;
	height: 70px;
	box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
	display: flex;
	align-items: center;
	padding: 0 20px;
}

/* imagem da logo da fluxo */
.esquerdo .header .logo_fluxo img {
	width: 30px;
	height: 30px;
	border-radius: 40px;
	background-color: rgba(0, 0, 0, 0.13);
}

/* ajeitando a posicao do e tamanho logo da fluxo, colocando um efeito transparente no logo da fluxo + texto "Fluxo Consultoria" */
.esquerdo .header .logo_fluxo  {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0.13);
	width: 200px;
	height: 30px;
	border-radius: 25px;
}

.esquerdo .header .espaco1{
	min-width: 30px;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	justify-content: flex-end;
}


.esquerdo .header .espaco2{
	min-width: 50px;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	justify-content: flex-end;
}

/* icone da bolsa e colocando um efeito transparente no icone*/
.esquerdo .header .handbag{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	justify-content: center;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.13);
	margin-right: 15px;
}

/* estilo de aumentar e diminuir de tamanho o icone da bolsa ao passar o mouse */
.handbag:hover{
	transform: scale(1.1);
}

/* icone do escudo de mão e colocando um efeito transparente no icone*/
.esquerdo .header .handshield{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	justify-content: center;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.13);
}

/* estilo de aumentar e diminuir de tamanho o icone do escudo de mao ao passar o mouse */
.handshield:hover{
	transform: scale(1.1);
}

/* alterando o estilo do texto escrito Fluxo Consultoria */
.estilo_texto_fluxo {
	color: #fff;
	font-size: 13px;
	margin-left: 4px;
}

/* estilo do menu com as opcoes matches e mensagens */
.esquerdo .menu ul {
	display: flex;
	padding: 0 20px;
	
}

/* estilo de cada opcao (matches e mensagens) */
.esquerdo .menu ul li {
	list-style: none;
	margin: 0 10px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: black;
}

/* estilo de aumentar e diminuir de tamanho o icone matches e uma linha rosa em baixo da palavra ao passar o mouse */
.escolhido:hover{
	transform: scale(1.1);
	border-bottom: 3px solid #fd5068;
	padding-bottom: 2px;
}

/* estilo de aumentar e diminuir de tamanho o icone mensagens e uma linha rosa em baixo da palavra ao passar o mouse */
.mensagens:hover{
	transform: scale(1.1);
	border-bottom: 3px solid #fd5068;
	padding-bottom: 2px;
}

/* estilizando e centralizando a pergunta "O que está achando do PAME?" e a resposta para respectiva pergunta */
.pergunta_resposta{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 600px;
	margin-left: 50px;
}

/* estilizando a parte que contem foto + informacoes pessoais e icones, por exemplo, preenchendo com fundo preto essa parte toda */
.direito .card {
	position: relative;
	height: 725px;
	background-color: black;
	border-radius: 25px;
}

/* estilizando a foto que eu coloquei */
.direito .card .user {
	width: 380px;
	height: 450px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}

/* colocando o fundo preto somente na parte de fundo da foto */
.direito .card .profile {
	background-color: black;
}

/* estilizando o meu nome, mudando a cor da letra para branco, tamanho da fonte etc., colocando em uma boa posicao */
.name {
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 5px #444;
	font-size: 26px;
	margin-right: 10px;
	margin-left: 20px;
}

/* estilizando a minha idade, mudando a cor da letra para branco, tamanho da fonte etc., colocando em uma boa posicao */
.idade {
	color: #fff;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 5px #444;
	margin-right: 10px;
	font-size: 22px;
	margin-top: 24px;
}

/* colocando em uma boa posicao o conjunto nome + idade, mudando o fundo para preto etc. */
.direito .card .nome_idade {
	margin: 5px 0;
	font-size: 20px;
	width: 300px;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
}

/* colocando o fundo preto em tudo que contem as minhas informacoes (nome, idade, curso, periodo etc.) + icones */
.infos {
	background-color: black;
}

/* modificando o icone check azul: tamanho */
.nome_idade img {
	margin: 5px 0;
	font-size: 10px;
	width: 20px;
	height: 20px;
}

/* modificando o tamanho das informacoes bolinha verde indicando online + frase Online recentemente */
.direito .card .status {
	display: flex;
	align-items: center;
	padding: 0 0 20px 0;
	height: 25px;
	margin-top: 25px;
}

/* modificando o tamanho da bolinha verde indicando que está online */
.direito .card .status i {
	margin: 5px 0;
	font-size: 8px;
	margin-left: 20px;
	color: rgb(53, 253, 4);
}

/* modificando cor e tamanho da frase Online recentemente */
.online {
	color: #fff;
	padding: 0 10px;
	text-shadow: 1px 1px 5px #444;
	margin-left: -5px;
	font-size: 13px;
}

/* ajeitando a posicao das informacoes curso + período + icone com simbolo "i" */
.info {
	margin-top: -20px;
}

/* ajeitando o icone com simbolo "i": tamanho, cor etc. */
 .info i{
	margin-left: 320px;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* estilo de aumentar e diminuir de tamanho o icone com simbolo "i" */
.info i:hover{
	transform: scale(1.1);
}

/* estilizando a cor, tamanho e posicao do texto "Engenharia Eletrônica e de Computação" */
.curso {
	height: 10px;
	color: #fff;
	padding: 0 10px;
	text-shadow: 1px 1px 5px #444;
	margin-left: 11px;
	margin-top: -10px;
}

/* estilizando a cor, tamanho e posicao do texto "6° Período" */
.periodo {
	color: #fff;
	padding: 0 10px;
	text-shadow: 1px 1px 5px #444;
	margin-left: 11px;
}

/* estilizando o tamanho e posicao dos botões em baixo das informacoes de curso e período */
.direito .buttons {
	width: 350px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12%;
	margin-left: 3.7%;
}

/* ajeitando a imagem return.svg, cor e tamanho */
.direito .buttons .return img {
	color: white;
	font-size: 32px;
}

/* ajeitando a imagem return.svg, colocando borda, colorindo a borda e formato redondo */
.direito .buttons .return  {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

/* ajeitando a imagem x.svg, cor e tamanho */
.direito .buttons .x img {
	color: #fd2e79;
	font-size: 33px;
}

/* ajeitando a imagem x.svg, colocando borda, colorindo a borda e formato redondo */
.direito .buttons .x  {
	border-style: solid;
	border-color: #fd2e79;
	border-width: 2px;
}

/* ajeitando a imagem star.svg, cor e tamanho */
.direito .buttons .star img {
	color: #2bb1ff;
	font-size: 22px;
}

/* ajeitando a imagem star.svg, colocando borda, colorindo a borda e formato redondo */
.direito .buttons .star  {
	border-style: solid;
	border-color: #2bb1ff;
	border-width: 2px;
}

/* ajeitando a imagem heart.svg, cor e tamanho */
.direito .buttons .heart img {
	color: #11e298;
	font-size: 32px;
}

/* ajeitando a imagem heart.svg, colocando borda, colorindo a borda e formato redondo */
.direito .buttons .heart  {
	border-style: solid;
	border-color: #11e298;
	border-width: 2px;
}

/* ajeitando a imagem lightning.svg, cor e tamanho */
.direito .buttons .lightning img {
	color: purple;
	font-size: 32px;
}

/* ajeitando a imagem lightning.svg, colocando borda, colorindo a borda e formato redondo */
.direito .buttons .lightning  {
	border-style: solid;
	border-color: purple;
	border-width: 2px;
}

/* ajeitando a transparencia e posicionamento de cada botao x.svg, star.svg, heart.svg etc. */
.direito .buttons .x,
.direito .buttons .star,
.direito .buttons .heart,
.direito .buttons .return,
.direito .buttons .lightning {
	background-color: rgba(0, 0, 0, 0);
	width: 70px;
	height: 70px;
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 70px;
	margin: 4px;
	transition: 0.2s transform;
}

/* botando efeito em cada botao x.svg, star.svg etc. de aumentar de tamanho ao passar o mouse sobre ele e diminuir de tamanho quando tira o mouse*/
.x:hover,
.star:hover,
.heart:hover,
.return:hover,
.lightning:hover {
	transform: scale(1.1);
}

/* modificando tamanho dos botoes incluindo a borda, para o return.svg ser menor do que o x.svg por exemplo*/
.direito .buttons .return {
	width: 60px;
	height: 60px;
}

/* modificando tamanho dos botoes incluindo a borda, para o star.svg ser menor do que o x.svg por exemplo*/
.direito .buttons .star {
	width: 60px;
	height: 60px;
}

/* modificando tamanho dos botoes incluindo a borda, para o lightning.svg ser menor do que o x.svg por exemplo*/
.direito .buttons .lightning {
	width: 60px;
	height: 60px;
}

/* posicionando os icones inferiores: ocultar, NÃO, CURTI, ABRIR PERFIL etc. no canto inferior e centralizado abaixo do card com as minhas informacoes */
.icones_inferior {
	width: 300px;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 7%;
	margin-left: 60%;	
}

/* ajeitando o icone OCULTAR, colocando um botao nele cinza, mudando a cor da letra OCULTAR para branco, posicionando ele com os outros ícones */
.direito .icones_inferior .ocultar_bottom {
	border: none;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #808080;
	margin-right: 20px;
	border-radius: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
}

/* ajeitando a posicao e tamanho do icone left.svg */
.direito .icones_inferior .left {
	width: 60px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;	
	margin-right: 10px;
}
/* ajeitando a posicao, tamanho e cor do texto "NÃO" */
.direito .icones_inferior .left .no {
	width: 100px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #4F4F4F;
}

/* colocando efeito de aumentar e diminuir de tamanho ao passar o mouse no icone left.svg + texto "NÃO" */
.left:hover{
	transform: scale(1.1);
}

/* ajeitando a posicao e tamanho do icone right.svg */
.direito .icones_inferior .right {
	width: 80px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;	
}

/* ajeitando a posicao, tamanho e cor do texto "CURTI" */
.direito .icones_inferior .right .curti {
	width: 190px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 10px;	
	color: #4F4F4F;
}

/* colocando efeito de aumentar e diminuir de tamanho ao passar o mouse no icone right.svg + texto "CURTI" */
.right:hover{
	transform: scale(1.1);
}

/* ajeitando a posicao e tamanho do icone up.svg */
.direito .icones_inferior .up {
	width: 130px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* ajeitando a posicao, tamanho e cor do texto "ABRIR PERFIL" */
.direito .icones_inferior .up .abrir_perfil {
	width: 260px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 15px;	
	margin-right: 10px;
	color: #4F4F4F;	
}

/* colocando efeito de aumentar e diminuir de tamanho ao passar o mouse no icone up.svg + texto "ABRIR PERFIL" */
.up:hover{
	transform: scale(1.1);
}

/* ajeitando a posicao e tamanho do icone down.svg */
.direito .icones_inferior .down {
	width: 145px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* ajeitando a posicao, tamanho e cor do texto "FECHAR PERFIL" */
.direito .icones_inferior .down .fechar_perfil {
	width: 450px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 15px;	
	margin-right: 10px;	
	color: #4F4F4F;
}

/* colocando efeito de aumentar e diminuir de tamanho ao passar o mouse no icone down.svg + texto "FECHAR PERFIL" */
.down:hover{
	transform: scale(1.1);
}

/* ajeitando a posicao e tamanho do icone enteringArrow.svg */
.direito .icones_inferior .arrow{
	width: 140px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* ajeitando a posicao, tamanho e cor do texto "SUPER LIKE" */
.super_like {
	width: 100px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 15px;	
	color: #4F4F4F;
	margin-right: 20px;
}

/* colocando efeito de aumentar e diminuir de tamanho ao passar o mouse no icone enteringArrow.svg + texto "SUPER LIKE" */
.arrow:hover{
	transform: scale(1.1);
}

/* ajeitando posicao do botao que possui um buraco transparente + do texto "PRÓXIMA FOTO" */
.direito .icones_inferior .buraco_proxima{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 5px;
}

/* ajeitando posicao, cor, borda cinza, estilo da borda do botao que possui um buraco transparente */
.direito .icones_inferior .buraco_proxima .buraco {
	border: none;
	width: 120px;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-style: solid;
	border-color: #808080;
	border-width: 3px;

}

/* ajeitando a posicao, cor e tamanho do texto "PRÓXIMA FOTO" */
.direito .icones_inferior .buraco_proxima .proxima_foto {
	width: 115px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 15px;	
	color: #4F4F4F;
}